:root {
    --primary: #ccdad1;
    --secondary: #9caea9;
    --tertiary: #788585;
    --light-dark: #6f6866;
    --dark: #38302e;
    --border-radius: .3rem;
  }
  
  * {
    box-sizing: border-box;
  }

  .name-size {
    font-weight: bold;
    font-size: 2rem;
  }

  .savedGames {
    text-align: center;
    list-style-type: none;
  }

  /* .hidden {
    display: none;
  }

  .active {
    display: block;
  } */

  #search-results {
    display: none;
    text-align: center;
    vertical-align: middle;
    align-items: center;
  }

  .savedButton {
    
  }