:root {
    --primary: #ccdad1;
    --secondary: #9caea9;
    --tertiary: #788585;
    --light-dark: #6f6866;
    --dark: #38302e;
    --border-radius: .3rem;
  }
  
  * {
    box-sizing: border-box;
  }

  .name-size {
    font-weight: bold;
    font-size: 2rem;
  }

  .savedGames {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    list-style-type: none;
  }

  .fav-button {
    display: flex;
    flex-wrap: wrap;
    padding: .5rem;
  }


  .love {
    color: red;
  }

  .hidden {
    display: none;
  }

  .active {
    display: block;
  }


  .fancy:hover > .letter:nth-child(2){
    display: inline-block;
    transform: rotate(-1450deg);
    transition-duration: 800ms;
  }

  .fancy:hover > .letter:nth-child(3){
    display: inline-block;
    transform: rotate(-380deg);
    transition-duration: 800ms;
  }

  .fancy:hover > .letter:nth-child(4){
    display: inline-block;
    transform: rotate(700deg);
    transition-duration: 800ms;
  }

  .fancy:hover > .letter:nth-child(5){
    display: inline-block;
    transform: rotate(-360deg);
    transition-duration: 800ms;
  }

  .fancy:hover > .letter:nth-child(6){
    display: inline-block;
    transform: rotate(780deg);
    transition-duration: 800ms;
  }

  .fancy:hover > .letter:nth-child(7){
    display: inline-block;
    transform: rotate(-900deg);
    transition-duration: 800ms;
  }

  .fancy:hover > .letter:nth-child(8){
    display: inline-block;
    transform: rotate(700deg);
    transition-duration: 800ms;
  }

  .fancy:hover > .letter:nth-child(9){
    display: inline-block;
    transform: translate(-20%, 20%) rotate(-700deg);
    transition-duration: 800ms;
  }

  .fancy:hover > .letter:nth-child(10){
    display: inline-block;
    transform: rotate(-17000deg);
    transition-duration: 800ms;
  }

  .fancy:hover > .letter:nth-child(11){
    display: inline-block;
    transform: rotate(780deg);
    transition-duration: 800ms;
  }

  .fancy-letter:hover > .letters:nth-child(1){
    display: inline-block;
    transform: rotate(360deg);
    transition-duration: 1000ms;
  }

  .fancy-letter:hover > .letters:nth-child(2){
    display: inline-block;
    transform: rotate(360deg);
    transition-duration: 1000ms;
  }

  .fancy-letter:hover > .letters:nth-child(3){
    display: inline-block;
    transform: rotate(360deg);
    transition-duration: 1000ms;
  }

  .fancy-letter:hover > .letters:nth-child(4){
    display: inline-block;
    transform: rotate(360deg);
    transition-duration: 1000ms;
  }

  .fancy-letter:hover > .letters:nth-child(5){
    display: inline-block;
    transform: rotate(360deg);
    transition-duration: 1000ms;
  }

  .fancy-letter:hover > .letters:nth-child(6){
    display: inline-block;
    transform: rotate(360deg);
    transition-duration: 1000ms;
  }

  .fancy-letter:hover > .letters:nth-child(7){
    display: inline-block;
    transform: rotate(360deg);
    transition-duration: 1000ms;
  }

  .fancy-letter:hover > .letters:nth-child(8){
    display: inline-block;
    transform: rotate(360deg);
    transition-duration: 1000ms;
  }

  .fancy-letter:hover > .letters:nth-child(9){
    display: inline-block;
    transform: rotate(360deg);
    transition-duration: 1000ms;
  }

  .fancy-letter:hover > .letters:nth-child(10){
    display: inline-block;
    transform: rotate(360deg);
    transition-duration: 1000ms;
  }

  .header-text {
    color: #FFDF00;
  }

  .search-color {
    background-color: #3C2A29CC;
    color: #FFDF00;
    border-radius: 10px;
  }

  .favorite-color {
    background-color: #3C2A29CC;
    color: #FFDF00;
    border-radius: 10px;
  }

  .gold-outline {
    outline-style: solid;
    outline-color: gold;
  }

  .search-background {
    background-color: #FF7300;
  }

  .favorite-background {
    background-color: #FF7300;
  }

  .content-background {
    background-color: #FF7300;
    color: white;
  }

  .footer-background {
    background-color: #3C2A29CC;
  }

  .button {
    white-space: wrap;
    height: auto;
    width: 100%;
  }

  .remove-button {
    width: 50%;
  }

  #add-button {
    text-align: center;
    align-items: center;
    align-content: center;
  }

  #search-results {
    display: none;
    text-align: center;
    vertical-align: middle;
    align-items: center;
  }

  #header-img {
    background-color: #3C2A29CC;
  }

  #color {
    background-color: #3C2A29CC;
  }

  

  