  * {
    box-sizing: border-box;
  }

  span {
    font-size: 1rem;
    justify-self: center;
    justify-items: center;
  }

  html {
    background-color: #1A120B;
  }
  
  .game-folder {
    display: inline-flex;
  }

  .column.is-3, .column.is-6 {
    align-self: center;
    text-align: center;
  }

  .name-size {
    font-weight: bold;
    font-size: 2rem;
    
  }

  .savedGames {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    list-style-type: none;
  }

  .fav-button {
    display: flex;
    flex-wrap: wrap;
    padding: .5rem;
  }

  .hidden {
    display: none;
  }

  .active {
    display: inline-flex;
    
  }


  .fancy:hover > .letter:nth-child(2){
    display: inline-block;
    transform: rotate(-1450deg);
    transition-duration: 800ms;
  }

  .fancy:hover > .letter:nth-child(3){
    display: inline-block;
    transform: rotate(-380deg);
    transition-duration: 800ms;
  }

  .fancy:hover > .letter:nth-child(4){
    display: inline-block;
    transform: rotate(700deg);
    transition-duration: 800ms;
  }

  .fancy:hover > .letter:nth-child(5){
    display: inline-block;
    transform: rotate(-360deg);
    transition-duration: 800ms;
  }

  .fancy:hover > .letter:nth-child(6){
    display: inline-block;
    transform: rotate(780deg);
    transition-duration: 800ms;
  }

  .fancy:hover > .letter:nth-child(7){
    display: inline-block;
    transform: rotate(-900deg);
    transition-duration: 800ms;
  }

  .fancy:hover > .letter:nth-child(8){
    display: inline-block;
    transform: rotate(700deg);
    transition-duration: 800ms;
  }

  .fancy:hover > .letter:nth-child(9){
    display: inline-block;
    transform: translate(-20%, 20%) rotate(-700deg);
    transition-duration: 800ms;
  }

  .fancy:hover > .letter:nth-child(10){
    display: inline-block;
    transform: rotate(-17000deg);
    transition-duration: 800ms;
  }

  .fancy:hover > .letter:nth-child(11){
    display: inline-block;
    transform: rotate(780deg);
    transition-duration: 800ms;
  }

  .fancy-letter:hover > .letters:nth-child(1){
    display: inline-block;
    transform: rotate(360deg);
    transition-duration: 1000ms;
  }

  .fancy-letter:hover > .letters:nth-child(2){
    display: inline-block;
    transform: rotate(360deg);
    transition-duration: 1000ms;
  }

  .fancy-letter:hover > .letters:nth-child(3){
    display: inline-block;
    transform: rotate(360deg);
    transition-duration: 1000ms;
  }

  .fancy-letter:hover > .letters:nth-child(4){
    display: inline-block;
    transform: rotate(360deg);
    transition-duration: 1000ms;
  }

  .fancy-letter:hover > .letters:nth-child(5){
    display: inline-block;
    transform: rotate(360deg);
    transition-duration: 1000ms;
  }

  .fancy-letter:hover > .letters:nth-child(6){
    display: inline-block;
    transform: rotate(360deg);
    transition-duration: 1000ms;
  }

  .fancy-letter:hover > .letters:nth-child(7){
    display: inline-block;
    transform: rotate(360deg);
    transition-duration: 1000ms;
  }

  .fancy-letter:hover > .letters:nth-child(8){
    display: inline-block;
    transform: rotate(360deg);
    transition-duration: 1000ms;
  }

  .fancy-letter:hover > .letters:nth-child(9){
    display: inline-block;
    transform: rotate(360deg);
    transition-duration: 1000ms;
  }

  .fancy-letter:hover > .letters:nth-child(10){
    display: inline-block;
    transform: rotate(360deg);
    transition-duration: 1000ms;
  }

  .fancy-letter {
    text-align: center;
    vertical-align: middle;
    align-self: center;
    align-content: center;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    align-items: center;
  }


  .header-text {
    color: black;
    margin-left: .50rem;
  }

  .search-color {
    background-color: #1A120B;
    color: white;
    border-radius: 10px;
  }

  .label {
    color: white;
  }

  .favorite-color {
    background-color: #1A120B;
    color: white;
    border-radius: 10px;
  }

  .gold-outline {
    outline-style: solid;
    outline-color: gold;
  }

  .search-background {
    background-color: #3C2A21;
  }

  .favorite-background {
    background-color: #3C2A21;
  }

  .content-background {
    background-color: #3C2A21;
    color: white;
  }

  .footer-background {
    background-color: #3C2A21;
  }

  .button {
    white-space: wrap;
    height: auto;
    width: 100%;
    background-color: #D5CEA3;
  }

  li.fav-button {
    justify-content: center;
  }

  .remove-button {
    width: 15%;
    margin: .25rem;
  }

  #add-button {
    text-align: center;
    align-items: center;
    align-content: center;
  }

  #game-img {
    padding: 3%;
  }

  #genre {
    padding: 3%;
    font-weight: bold;
  }

  #released {
    padding: 3%;
    font-weight: bold;
  }

  #description {
    padding: 3%;
  }

  #listSaved.savedGames {
    justify-content: center;
  }

  #search-results {
    display: none;
    text-align: center;
    vertical-align: middle;
    align-items: center;
  }

  #header-img {
    background-color: #D5CEA3;
  }

  #body-color {
    background-color: #1A120B;
  }


  

  